<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminSection</servlet-name>
        <servlet-class>AdminSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianAdd</servlet-name>
        <servlet-class>LibrarianAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianDelete</servlet-name>
        <servlet-class>LibrarianDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Back</servlet-name>
        <servlet-class>Back</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLibrarian</servlet-name>
        <servlet-class>ViewLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OK</servlet-name>
        <servlet-class>OK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AL</servlet-name>
        <servlet-class>AL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LL</servlet-name>
        <servlet-class>LL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLibrarian</servlet-name>
        <servlet-class>LoginLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksAdd</servlet-name>
        <servlet-class>BooksAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OKK</servlet-name>
        <servlet-class>OKK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookIssue</servlet-name>
        <servlet-class>BookIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssB</servlet-name>
        <servlet-class>IssB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBooks</servlet-name>
        <servlet-class>ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookReturn</servlet-name>
        <servlet-class>BookReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSection</servlet-name>
        <url-pattern>/AdminSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianAdd</servlet-name>
        <url-pattern>/LibrarianAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianDelete</servlet-name>
        <url-pattern>/LibrarianDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Back</servlet-name>
        <url-pattern>/Back</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLibrarian</servlet-name>
        <url-pattern>/ViewLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OK</servlet-name>
        <url-pattern>/OK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AL</servlet-name>
        <url-pattern>/AL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LL</servlet-name>
        <url-pattern>/LL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLibrarian</servlet-name>
        <url-pattern>/LoginLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksAdd</servlet-name>
        <url-pattern>/BooksAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OKK</servlet-name>
        <url-pattern>/OKK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookIssue</servlet-name>
        <url-pattern>/BookIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssB</servlet-name>
        <url-pattern>/IssB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/ReturnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBooks</servlet-name>
        <url-pattern>/ReturnBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookReturn</servlet-name>
        <url-pattern>/BookReturn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
